div.message-container {
    display: block;
    text-align: center;
    padding: 32px;

    mat-icon, .mat-icon {
        font-size: 96px;
        height: 96px;
        min-height: 96px;
        min-width: 96px;
        opacity: .5;
        width: 96px;
    }
}

.rotate {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

