<div *ngIf="dailyWeather" class="daily-weather-container">
    <!-- <p class="mat-title">This Week's Weather</p> -->
    <div class="day" *ngFor="let day of dailyWeather.data" fxLayout="row" fxLayoutAlign="start center">
        <p class="time">{{day.time}}</p>
        <p class="summary mat-caption">{{day.summary}}</p>
        <div fxFlex></div>
        <mat-icon [svgIcon]="day.icon"></mat-icon>
        <div class="temperature">
            <p>{{day.temperatureHigh}}/{{day.temperatureLow}}</p>
        </div>
    </div>
</div>