<mat-toolbar class="mat-elevation-z2">
  Weather
  <div fxFlex></div>
  <div class="autocomplete-field">
    <mat-icon>search</mat-icon>
    <input type="text" placeholder="Search Locations" [matAutocomplete]="auto" (ngModel)="selectedLocation">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getWeather($event.option.value)">
      <mat-option *ngFor="let location of locations" [value]="location.name">
        <mat-icon>{{location.type === 'recent' ? 'history' : 'location_city'}}</mat-icon>
        {{ location.name }}
      </mat-option>
    </mat-autocomplete>

  </div>
  <div fxFlex></div>
  <button mat-icon-button>
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div *ngIf="forecast">
  <app-todays-summary [currentWeather]="forecast.currently" [weatherLocation]="selectedLocation"></app-todays-summary>
  <app-hourly-view [hourlyWeather]="forecast.hourly" [weatherLocation]="selectedLocation"></app-hourly-view>
  <app-weekly-glance [dailyWeather]="forecast.daily" [weatherLocation]="selectedLocation"></app-weekly-glance>
</div>

<div *ngIf="!forecast">
  <app-info-message icon="wb_sunny" message="Try searching for a location!" isSvg="false"></app-info-message>
</div>
