.autocomplete-field {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.12);
    height: calc(100% - 16px);
    border-radius: 4px;
    width: 50%;
    max-width: 512px;

    mat-icon.search-icon {
        padding: 0px 14px;
        position: absolute;
        pointer-events: none;
    }

    form {
        width: 100%;
        height: 100%;
    }

    input {
        font-family: Roboto, sans-serif;
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        outline: none;
        box-sizing: border-box;
        padding-left: 52px;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.47);
    }

    .clear-search-button {
        position: relative;
        right: 44px;
        top: -2px;
    }
}

.search-dialog-button {
    display: none;
}

@media only screen and (max-width: 768px) {
    .autocomplete-field {
        display: none;
    }

    .search-dialog-button {
        display: block;
    }
}
.graph-container {
    width: 100%;
}
app-hourly-graph {
    width: 100% !important;
    height: 500px;
    opacity: .75;
}

main {
    width: 100%;
}

app-todays-summary {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 50px);
}
