<div class="search-container" fxLayout="column">
    <div class="autocomplete-field">
        <form class="example-form" [formGroup]="searchForm">
            <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input type="text" placeholder="Search Locations" matInput [matAutocomplete]="auto" formControlName="searchInput" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="searchFieldDisplay">
                    <mat-option *ngFor="let location of locations" [value]="location">
                        <mat-icon>{{ location.type === 'recent' ? 'history' : 'location_city' }}</mat-icon>
                        {{ location.name }}
                    </mat-option>
                </mat-autocomplete>

                <button
                    class="clear-search-button"
                    mat-button
                    mat-icon-button
                    *ngIf="searchForm.controls.searchInput.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="clearSearchField()"
                >
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </div>
    <div fxFlex></div>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex></div>
        <button mat-stroked-button (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" (click)="search()">Search</button>
    </div>
</div>
