.current-forecast {
    text-align: center;
    .location {
        font-weight: 700;
    }
    .temperature {
        font-size: 96px;
        font-weight: 600;
        margin: 16px;
    }
    .summary {
        opacity: 0.54;
        font-size: 24px;
        margin: 0px;
    }
}

.vertical-divider {
    border-left: 1px solid white;
    height: 100%;
}