<div @listStagger class="current-forecast" *ngIf="currentWeather">
    <div *ngIf="weatherLocation" class="weather-location" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon>place</mat-icon>
        <p class="location">{{weatherLocation}}</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <p class="datetime">{{currentDate | date: 'longDate'}}</p>
    </div>
    <div class="icon-temp-container">
        <app-weather-icon size="xlarge" [icon]="currentWeather.icon" [summary]="currentWeather.summary"></app-weather-icon>
        <p class="temperature">{{currentWeather.temperature}}</p>
    </div>
    <p class="summary">{{currentWeather.summary}}</p>
    <p *ngIf="currentWeather.apparentTemperature">Feels like {{currentWeather.apparentTemperature}}°F</p>
    <div *ngIf="currentWeather.sunCalculation" class="sun-position" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div fxLayout="row" fxLayoutAlign="start center" matTooltip="Sunrise time">
            <mat-icon svgIcon="sunrise"></mat-icon>
            {{currentWeather.sunCalculation.sunrise | date: 'shortTime'}}
        </div>
        <!-- <div class="vertical-divider"></div> -->
        <div  fxLayout="row" fxLayoutAlign="start center" matTooltip="Sunset time">
            <mat-icon svgIcon="sunset"></mat-icon>
            {{currentWeather.sunCalculation.sunset | date: 'shortTime'}}
        </div>
    </div>
</div>